* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Header & Nav Section */
header {
  width: 100%;
  height: 100vh;
}

header nav {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  height: 10vh;
  background-color: #a7d2cb;
  width: 100vw;
}

header nav img {
  max-width: 100px;
}

header nav p {
  font-size: 3rem;
  color: #1d1410;

  font-family: "Abril Fatface", cursive;
  margin: 0 1rem;
}

header nav p:hover {
  background-color: #f2d388;
}

header section {
  position: relative;
  top: 10vh;
  height: 90vh;
  background-image: url("./images/drink-tasting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header section h1 {
  font-size: 7rem;
  text-align: center;
  position: relative;
  top: 50%;
  color: white;
  text-shadow: 3px 3px black;
}

main {
  background-color: #f9f9f1;
  text-align: center;
}

h2 {
  color: #874c62;
  font-size: 3rem;
}

#introduction p {
  color: #1d1410;
  font-size: 1.5rem;
}
